################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.elf
*.list
*.map
*.o
*.o
*.d
*.su
Debug/makefile
Debug/sources.mk
